* {
  box-sizing: border-box;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  line-height: 1.67;
  color: #666;
}
a {
  text-decoration: none;
}
input,
textarea {
  line-height: 1.6;
  font-size: 16px;
}
